@model AccountRegisterViewModel
@{
    ViewData["Title"] = "Register new account";
}

<div>
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>
</div>